# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake Builds
CMakeCache.txt
CMakeFiles
build
cmake-build-debug
cmake-build-release
out

# Editor config
.vscode
.idea
.vs

# Profiling Output
QuasarProfile-*

# Log files
*.log

# Dependencies
vendor/VulkanSDK/
