[submodule "Quasar/vendor/spdlog"]
	path = Quasar/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Quasar/vendor/GLFW"]
	path = Quasar/vendor/GLFW
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "Quasar/vendor/imgui"]
	path = Quasar/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Quasar/vendor/glm"]
	path = Quasar/vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "Quasar/vendor/entt"]
	path = Quasar/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Quasar/vendor/yaml-cpp"]
	path = Quasar/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Quasar/vendor/pfd"]
	path = Quasar/vendor/pfd
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "Quasar/vendor/ImGuizmo"]
	path = Quasar/vendor/ImGuizmo
	url = https://github.com/rvillegasm/ImGuizmo.git
